<div style="width: 100%; height: 91vh; border-radius: 2px; background-image: url(https://st2.depositphotos.com/42900380/44617/i/450/depositphotos_446174076-stock-photo-abstract-wide-technology-background-hexagons.jpg); background-size: cover; margin-top: 100px;" class="d-flex justify-content-center align-items-center">
    <div class="shadow p-5 row rounded bg-light align-items-center">
         <div class="col lg-8">
             <img class="w-75" src="https://imgproxy.epicpxls.com/2GhAjccE9MUsDNSJw4B3Z2s-wwBp-C87q-4B1hHv57Q/rs:fill:800:600:0/g:no/aHR0cHM6Ly9pdGVt/cy5lcGljcHhscy5j/b20vdXBsb2Fkcy9w/aG90by84MDdiMDEz/OGY4NjQ2NzNlNTNm/ZTYxZGMzYjgxM2Rm/MQ.jpg" alt="">
         </div>
         <div class="col lg-4" style="background-color: rgb(141, 255, 255); border-radius: px ;">
             <form class="p-5" action="">
                 <h1 style="overflow-y: hidden;" class="fw-bolder mb-4 d-flex justify-content-center align-items-center">Login Form</h1>
                 <div class="form-floating mb-3">
                     <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                     <label for="floatingInput">Email address</label>
                   </div>
                   <div class="form-floating">
                     <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                     <label for="floatingPassword">Password</label>
                   </div>
                   <div class="d-flex align-items-center justify-content-center">
                     <button style="background-color: aqua; border-radius: 5px; padding: 10px; border: 1px solid;" class="w-75 mt-3">Login</button>
                   </div>
             </form>
             <p class="d-flex justify-content-center align-items-center ">New User? Click here to <a routerLink="/user/register" class="">Register</a></p>
         </div>
    </div>
 
 </div>